.DashboardMySurvey {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;
}

.contents {
  width: 100%;

  button {
    width: 100%;
    text-align: initial;
  }

  button + button {
    margin-top: 20px;
  }
}

.survey_box_create {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px;
  border-radius: 9px;
  border: dashed 1px #d4d8de;
  background-color: #f0f2f7;

  p {
    font-size: 14px;
    font-weight: 500;
    color: #d4d8de;
  }
}

.empty_contents {
  padding-top: 40px;

  & > p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #b5b5b5;
  }

  & > button {
    padding: 6px 28px 7px;
    border-radius: 5px;
    background-color: #8564e4;
    font-size: 14px;
    color: #ffffff;
  }
}
