.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 22px 25px 34px;
  border-radius: 5px;
  box-shadow: 0 2px 9px 0 rgba(154, 170, 193, 0.2);
  border: solid 1px #edeff4;
  background-color: #ffffff;

  & + & {
    margin-top: 15px;
  }
}

.input_group {
  width: 100%;

  & + & {
    margin-top: 18px;
  }

  & > p {
    font-size: 14px;
    margin-bottom: 6px;
  }
}

.question_input {
  & + & {
    margin-top: 10px;
  }
}

.textarea {
  height: 150px;
}

.date_picker {
  width: 100%;
  padding: 15px;
  border-radius: 05px;
  background-color: #f9fafd;
  border: 01px solid transparent;
}
