.popup {

}

.contents {
  width: 37.5rem;
  padding: 6rem 5.5rem;
}

.title {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #2d3248;
}

.form {
  margin-bottom: 1.5rem;

  .input_with_label + .input_with_label {
    margin-top: 2rem;
  }

  .error_message {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    color: #ff8cbf;
  }
}

.button {
  width: 100%;
  padding: .8rem 0;
  border-radius: .5rem;
  background-color: #8564e4;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
}

.to_sign_in {
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);

  u {
    cursor: pointer;
  }
}
