.contents {
  width: 372px;
  max-width: 92vw;
  max-height: 80vh;
  padding: 40px 55px 50px;
  overflow: auto;
}

.title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #2d3248;
}

.form {
  margin-bottom: 25px;

  .input_with_label + .input_with_label {
    margin-top: 20px;
  }
}

.button {
  width: 100%;
  padding: 8px 0;
  border-radius: 5px;
  background-color: #8564e4;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.to_sign_in {
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);

  u {
    cursor: pointer;
  }
}
