.SurveyLayout {
  background-color: #f5f6f9;
  min-height: 100vh;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(152, 168, 190, 0.1);
  background-color: #ffffff;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: #5d5f6b;
}

.side_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left_button {
  left: 27px;
}

.right_button {
  right: 11px;
}

.square_button {
  padding: 6px 17px 7px;
  border-radius: 3px;
  background-color: #8564e4;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.arrow_button {
  img {
    width: 14px;
    height: 14px;
  }
}
