.footer {
  padding: 24px 15px;
  background-color: #24283b;
}

.contents {
  width: 96%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.copyright {
  font-size: 14px;
  color: rgba(227, 226, 233, 0.5);
}
