.SurveyEditContainer {
  width: 92%;
  max-width: 50rem;
  margin: 0 auto;
  padding-top: 1.4rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2.2rem 2.5rem 3.4rem;
  border-radius: .5rem;
  box-shadow: 0 .2rem .9rem 0 rgba(154, 170, 193, 0.2);
  border: solid .1rem #edeff4;
  background-color: #ffffff;

  & + & {
    margin-top: 1rem;
  }
}

.profile_image {
  width: 5.5rem;
  height: 5.5rem;
  margin-bottom: 1.2rem;
  border-radius: .7rem;
  background-color: #dadce8;
}

.title {
  margin-bottom: .3rem;
  font-size: 2rem;
  font-weight: 600;
  color: #5d5f6b;
}

.description {
  margin-bottom: 1.7rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #c2c4cc;
}

.question_title {
  margin-bottom: 1.7rem;
}

.question_each {
  & + & {
    margin-top: 1rem;
  }
}
