.text_input {
  width: 100%;

  & > label {
    margin-bottom: 4px;
    font-size: 15px;
    color: #a4a7bd;
  }

  & > input {
    width: 100%;
    padding: 4px 0 4px 8px;
    font-size: 15px;
    color: #000000;
    border: none;
    border-bottom: solid 1px #a4a7bd;
    
    &::placeholder {
      color: #a4a7bd;
    }

    &:focus {
      border-bottom-color: #363b55;
    }
  }

  &:focus-within {
    & > label p {
      color: #000000;
    }
  }
}
