.SurveyParticipationContainer {
  width: 100%;
  min-height: 100vh;
  padding-top: 8rem;
  background-color: #f5f6f9;
}

.contents {
  min-width: 35rem;
  width: 92%;
  max-width: 50rem;
  margin: 0 auto;
}
