.box_popup {
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 .2rem .9rem -.2rem rgba(41, 40, 67, 0.29);
  background-color: #ffffff;
}

.close_button {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  width: 2.5rem;
  height: 2.5rem;
  transition: .4s;

  &:hover {
    border-radius: .5rem;
    background-color: #6b6a83;
  }
}
