.HomeContainerHeader {
  padding-top: 90px;
  text-align: center;
  background-color: #d0c9f9;
}

.text {
  padding-left: 40px;
  margin-bottom: 34px;
  text-align: left;
}

.title {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
}

.description {
  font-size: 14px;
  color: #fff;
}

.button {
  padding: 14px 28px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 24px;
  border: solid 1px #979797;
  background-color: #8564e4;
}

.traffic_image {
  width: 282px;
  margin: 0 auto;
}
