.SurveyParticipationContainerComplete {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 25px;
  border-radius: 5px;
  box-shadow: 0 2px 9px 0 rgba(154, 170, 193, 0.2);
  border: solid 1px #edeff4;
  background-color: #ffffff;
}

.image {
  width: 141px;
  height: 144px;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #5d5f6b;
}

.suggestion {
  width: 100%;
  padding: 20px 0 26px;
  border-radius: 5px;
  background-color: #f9fafd;
  text-align: center;

  p {
    margin-bottom: 18px;
    font-size: 16px;
    text-align: center;
    color: #5d5f6b;
  }

  button {
    padding: 8px 25px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 9px 0 rgba(133, 100, 228, 0.5);
    background-color: #8564e4;
  }
}
