.SurveyReply {
  padding: 40px 25px;
  border-radius: 5px;
  box-shadow: 0 2px 9px 0 rgba(154, 170, 193, 0.2);
  border: solid 1px #edeff4;
  background-color: #ffffff;
}

.title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #5d5f6b;
}

.input {
  padding: 15px 15px 5px;

  & + & {
    margin-top: 10px;
  }

  textarea {
    height: 85px;
  }
}
