.SurveyReply {
  padding: 4rem 2.5rem;
  border-radius: .5rem;
  box-shadow: 0 .2rem .9rem 0 rgba(154, 170, 193, 0.2);
  border: solid .1rem #edeff4;
  background-color: #ffffff;
}

.title {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #5d5f6b;
}

.input {
  & + & {
    margin-top: 1rem;
  }
}
