.profile_background {
  width: 100%;
  height: 150px;
  background-color: #c8bff4;
}

.profile_contents {
  padding-bottom: 15px;
  margin-top: -55px;
  text-align: center;
  border-bottom: 1px solid #edeff4;
}

.profile_image {
  width: 110px;
  height: 110px;
  padding: 18px 18px 0;
  margin: 0 auto 16px;
  border-radius: 7px;
  background-color: #dadce8;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.name {
  margin-bottom: 11px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #363b55;
}

.description {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c2c4cc;
}

.tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #edeff4;

  button {
    padding: 11px 0 12px;
    margin: 0 30px;
    font-size: 14px;
    color: #363b55;
    transition: .4s;
    border-bottom: 2px solid transparent;

    &.selected {
      border-bottom: 2px solid #8564e4;
      color: #8564e4;
    }
  }
}

.contents {
  padding: 20px 0 50px;
  min-height: 500px;
  background-color: #f5f6f9;
}
