.DashboardContainerResponse {
  
}

.filter {
  width: 94%;
  max-width: 580px;
  margin: 0 auto 15px;
}

.dropdown {
  min-width: 150px;
  width: 200px;
  padding-left: 10px;
}

.contents {
  width: 94%;
  max-width: 580px;
  padding: 25px;
  margin: 0 auto;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(152, 168, 190, 0.1);
  border: solid 1px #edeff4;
  background-color: #ffffff;

  &.empty {
    padding: 50px 0;
    text-align: center;
    color: #c2c4cc;
  }
}

.survey {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: #5d5f6b;
}

.status {
  font-size: 14px;
  color: #c2c4cc;
}

.question {

  & + & {
    margin-top: 30px;
  }
}

.question_label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;

  &.continue {
    color: #4aa288;
  }

  &.stop {
    color: #d35b82;
  }

  &.new {
    color: #c77b29;
  }
}

.reply {
  padding: 20px;
  font-size: 14px;
  color: #5d5f6b;

  & + & {
    margin-top: 15px;
  }

  &.continue {
    background-color: #f1faf8;
  }

  &.stop {
    background-color: #fff4f7;
  }

  &.new {
    background-color: #ffecd8;
  }

  &.empty {
    padding: 30px 20px;
    font-size: 15px;
    text-align: center;
  }
}
