.box {
  margin-bottom: 2rem;
}

.button {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  border-radius: .5rem;
  box-shadow: 0 .2rem .9rem 0 rgba(133, 100, 228, 0.5);
  background-color: #8564e4;
}
